<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gr.mobap">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- USE_CREDENTIALS is necessary for Google+ login -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- GET_ACCOUNTS is necessary to display email address of logged in user. This permission is optional -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="gr.mobap.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="gr.mobap.permission.C2D_MESSAGE" />


    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".AnalyticsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".Splash"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".vouli.VouliActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".ScrollingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gr.mobap.MainActivity" />
        </activity>
        <activity
            android:name=".ekdoseis.DownloadEkdoseisActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/ekdoseis" />
        <activity
            android:name=".ekdoseis.DownloadPraktikaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/praktika_olom" />
        <activity
            android:name=".organosi.OrganosiActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/organosi" />
        <activity
            android:name=".web.SindesmoiActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/links" />
        <activity
            android:name=".web.entos.DiktioActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/entos" />
        <activity
            android:name=".PeriActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/peri" />
        <activity
            android:name=".images.Image"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:finishOnTaskLaunch="true"
            android:label="@string/photos" />
        <activity
            android:name=".images.DetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:finishOnTaskLaunch="true"
            android:label="@string/photos" />
        <activity
            android:name=".video.LiveVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:finishOnTaskLaunch="true"
            android:label="@string/nav_live_ena" />
        <activity
            android:name=".video.LiveVideoDioActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:finishOnTaskLaunch="true"
            android:label="@string/nav_live_dio" />
        <activity
            android:name=".youtube.IntentsTvActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:finishOnTaskLaunch="true"
            android:label="@string/tv_all" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".map.MapsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_maps"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".rss.activities.NeaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/nea" />
        <activity
            android:name=".rss.activities.NsKatActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/katatethenta" />
        <activity
            android:name=".rss.activities.NsPsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/psifisthenta" />
        <activity
            android:name=".rss.activities.EleghosActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/eleghos" />
        <activity
            android:name=".rss.activities.SinEpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/sinedriaseis_epitropon" />
        <activity
            android:name=".rss.activities.EktheseisEpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/ektheseis" />
        <activity
            android:name=".rss.activities.DrastActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/drastiriotites" />
        <activity
            android:name=".login.LoginMain"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/login_with_google" />
        <activity
            android:name=".mps.Mps"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/mps" />
        <activity
            android:name=".login.GoogleOAuthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/login_with_google" />
        <activity
            android:name=".twitter.TimelineActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".twitter.TwitterCoreMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" />

        <service android:name=".rss.services.NeaService" />
        <service android:name=".rss.services.NsKatService" />
        <service android:name=".rss.services.NsPsService" />
        <service android:name=".rss.services.EleghosService" />
        <service android:name=".rss.services.SinEpService" />
        <service android:name=".rss.services.EktheseisEpService" />
        <service android:name=".rss.services.DrastService" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name="gr.mobap.gcm.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="gr.mobap.gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d40138b75d5dfad422facd04bc36a5a0f166c83d" />

        <!-- Optionally, register AnalyticsReceiver and AnalyticsService to support background
             dispatching on non-Google Play devices -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <!-- Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
             installation campaign reporting -->
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

    </application>

</manifest>